@page "{courseId:int}"

@model Dvik.Pages.Courses.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Course.Name</h2>


<div style="white-space:pre-line">
    @Model.Course.Description
</div>

<div>
    Стоимость: @Model.Course.Price
</div>

@if(this.Model.Message != null)
{
    <div class="alert alert-info">@this.Model.Message</div>
}
<div>
    <a asp-page="./List" class="btn btn-secondary">Все курсы</a>
</div>


