@page
@model Dvik.Pages.Courses.ListModel
@{
    ViewData["Title"] = "Курсы";
}

<h1>Курсы</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-outline-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

    @foreach (var course in this.Model.Courses)
    {
        <partial name="_Card" model="course" />
        <br />
    }

<br />
@if (this.User.IsInRole("Administrator"))
{
    <a asp-page="./Edit" class="btn btn-primary">Добавить курс</a>
}


