@page
@model Dvik.Pages.Trainers.ListModel

@{
    ViewData["Title"] = "List";
}

<h1>Тренеры</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-outline-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<div class="card-columns">
    @foreach (var course in this.Model.Trainers)
    {
        <br />
        <partial name="_Card" model="course" />
    }
</div>
<br />
<a asp-page="./Edit" class="btn btn-primary">Добавить тренера</a>
